openai-whisper==20231117
IPython
peft
huggingface_hub
matplotlib
pyarrow
datasets
encodec
soundfile
bitsandbytes
vector_quantize_pytorch
webdataset
whisperspeech
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.0
torchaudio==2.2.0
transformers
gradio
numpy==1.26.4
