openai-whisper==20231117
IPython
peft
huggingface_hub
matplotlib
pyarrow
datasets
encodec
librosa
soundfile
gradio==4.39.0
transformers
bitsandbytes
torchvision
vector_quantize_pytorch
webdataset
git+https://github.com/homebrewltd/WhisperSpeech.git
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.0
torchaudio==2.2.0
vllm