openai-whisper==20231117
IPython
peft
huggingface_hub
matplotlib
librosa
soundfile
transformers
bitsandbytes
vector_quantize_pytorch
webdataset
git+https://github.com/homebrewltd/WhisperSpeech.git
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.0
torchaudio==2.2.0